{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<main role="main" class="page-container">
    <div class="jumbotron">
        <div class="container_main">
            <h1 class="display-3">Projet de MIR</h1>
            <p>Dans le cadre du cours, ce projet vise à appliquer les techniques d’indexation et de recherche d’images par le contenu. L’objectif est
                d’implémenter et d’évaluer différentes méthodes d’extraction de caractéristiques visuelles
                ainsi que des mesures de similarité pour retrouver efficacement des images similaires à
                une requête donnée.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Rapport &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 section">
                <h2>Indexation</h2>
                <p>L’indexation est une étape essentielle dans la construction d’un moteur de recherche
                    d’images. Elle consiste à représenter chaque image par un ensemble de caractéristiques
                    numériques appelées descripteurs afin de faciliter la recherche et la comparaison entre
                    images. Cette étape a été réalisée au préalable en local.</p>
            </div>
            <div class="col-md-6 section">
                <h2>Recherche</h2>
                <p>Cette étape repose sur le calcul de la similarité entre les re-
                    quêtes et les images indexées. La recherche est divisée en trois parties distinctes : recherche
                    par descripteurs, recherche par texte, et recherche par combinaison de descripteurs et de
                    textes.</p>
                <p><a class="btn btn-secondary" href="{% url 'recherche' %}" role="button">Recherche &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div>
</main>

{% endblock %}
